/* =============
    About Content
============= */
#googlemap{

    #map{
        grid-area: map;
        width: 80vw;
        height: 80vw;
        background-color: $pink;
        margin-left: 10vw;
        @include md{
            width: 100%;
            height: 30vh;
            margin: 0px 0 50px;        
        }
    }
    
}
#about-heading{
    grid-area: heading;
}
#para{
    grid-area: para;
    @include md{
        padding-top: 30%;
    }
    @include md{
        padding-top: auto;
    }
}
#resume{
    text-align: center;
    grid-area: resume;
}
#about{
    @include md{
        padding: 0 4%;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-areas: 
        "heading para"
        "map para"
        "resume para";
    }
}