/* =============
    Buttons
============= */
button {
    padding: 15px 0;
    margin: 2vw;
    width: 50vw;
    max-width: 250px;
    border-radius: 5;
    background-color: $lightblue;
    border-color: $lightblue;
    font-family: 'Quicksand', sans-serif;
    font-size: rem-calc(17);
    font-weight: 400;
    line-height: rem-calc(23);
    color: $black;

    @include md {
        font-size: rem-calc(20);
        line-height: rem-calc(40);
    }

    @include xl {
        font-size: rem-calc(25);
        line-height: rem-calc(45);
    }
}