/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1025px;

// Large desktops
$screen-xl-min: 14400px;

// Colors
$white: #fff;
$black: #000;
$darkblue: #017494;
$lightblue: #9CEAFF;
$pink: #FF6164;
$purple: #511038;
$medgrey: #434343;
$lightgrey: #D8D8D8;
