/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}
div{
    background-color: none;
}

.grid-container{
    display: grid;
    grid-template-columns: 5vw auto 5vw;
    grid-template-areas: ". container .";
    @include xl{
        grid-template-columns: auto 1440px auto;
    }
    >div{
        grid-area: container;
    }
}
.content-spacing{
    padding-top: 80px;
    @include md{
        padding-top: 120px 0;
    }
    @include xl{
        padding-top: 200px 0;
    }
}

